*{
	padding: 0px;
	font-family:'Segoe UI';
    font-size:20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

div#Barra
{
    position:absolute;
    height: 100%;
    background-color:#2699FB;
    color:white;
    top: 6px;
    left: 0px;
    width:60px;
    /*width:228px;*/
    overflow:hidden;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
}
div#Barra:hover
{
    width:228px;
    
}
div#Contenedor
{
    left:220px;
    margin:auto;
    height:100%;
    position:absolute;
    background:#F1F9FF;
}

li
{
    line-height:55px;
}

li:hover
{
    position:absolute;
    left:5px;
}
#Titulo
{
    text-align:center;
}
div#Principal
{
    position:relative;
    left:50px;
    background:#F1F9FF;
    width:1150px;
    height:570px;
    align-content:center;
}

div#UsuarioYFoto
{
    width:40px;
    height:40px;
    margin:10px;
    background-color:white;
}

div.contenedor-general
{
    width:195px;
    height: 40px;
    margin-left:10px;
    margin-top:20px;
}

div.logo-interior
{
    width:40px;
    height:40px;
    float:left;
}
P.texto
{
    margin-left:60px;
    line-height:40px;
    font-size:15px;
}
div#contenedor-general-primero
{
    margin-top:70px;
}

a:link   
{   
 text-decoration:none;
 color:white;   
 font-size:15px;
}

a:visited {
 text-decoration:none;
 color:white;  
 font-size:15px;
}

.titulo
{
    margin-left:60px;
    line-height:40px;
    font-size:10px;
}