*
{
	font-family:'Segoe UI';
}


/*Para Botones*/

input[type="button"],input[type="reset"],.boton
{
	background: #2699FB;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius:9px;
}

input[type="button"]:hover {
	background: white;
  color:#2699FB;
  border-color:#2699FB;
  border-radius:9px;
}
.boton:hover
{
    background-color: white;
	color: #2699FB;
	box-shadow: none;
}

.boton:focus
{
    background-color: white;
	color: #2699FB;
	box-shadow: none;
}
/*COMBOBOX O DROPDOWNLIST*/









/*Tablas*/
th
{
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background: #2699FB;
  color:white;
}
th,td
{
	border-bottom: 1px solid #2699FB;
}
td
{
    font-weight:bold;
}
/*Selección General*/
::selection 
{ 
	background: #2699FB;
	color:white; 

}
::-moz-selection 
{ 
	background: #2699FB;
	color:white; 
}
::-webkit-selection 
{ 
	background: #2699FB;
	color:white; 
}

.link
{
    font-weight:bold;
    cursor:pointer;
    border-radius:25px;
    background:white;
    margin-top:55px;
}
.link:hover
{
    font-size:20px;
}

/*Para ponerlo en el General*/
.Texto
{
    color:#2699FB;
}

