

body {
  background: #F1F9FF;
  font-family: 'Segoe UI';
}

/*NO TOCAR*/
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/*NO TOCAR*/
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/*NO TOCAR*/
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #2699FB;
}
/*NO TOCAR*/
.login-header {
  background: #2699FB;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/*NO TOCAR*/
.login-container {
  background: #ebebeb;
  padding: 12px;
}

/*NO TOCAR*/
.login p {
  padding: 12px;
}

/*SI TOCAR*/
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.textbox {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.textbox:focus {
  border-color: #888;
}

.boton {
  background: #2699FB;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  border-radius:15px;
}

.boton:hover {  /*Boton Iniciar Sesión*/
  background: white;
  color:#2699FB;
  border-color:#2699FB;
  border-radius:15px;
}

.logopyme
{
    border-color:#2699FB;
    color:#2699FB;
    text-align:center;
    font-size:50px;
    align-content:center;
    width:200px;
}